@import '../../styles/all';


.all-products{

    display: flex;
    flex-direction: column;

    &__swap{
        margin-bottom: 0.75rem;
        font-size: 0.85rem;
    }

    &__filter{
        margin: 1rem 2.5rem;
    }


    &__list-table {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin: 1rem 0;
    }

    @include tablet{
        flex-direction: row;

        &__list-table{
            flex-direction: row;
            flex-wrap: wrap;
            margin: 2rem 1rem;
        }

        &__filter{
            min-width: 12rem;
            margin: 0;
            padding: 1rem 2rem;
            border-radius: 3rem;
            border-right: 2px solid $color-red;
        }
    }

    @include desktop{

        &__filter{
            min-width: 12rem;
        }

    }

}