@import '../../styles/all';

.item-card {
    display: flex;
    flex-direction: column;
    margin:0 auto;
    padding: 1rem;
    text-decoration: none;
    width: 15rem;
    border-radius: 2rem;
    background-color: $color-white;

    box-shadow: rgba(49, 167, 177, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

    &:hover{
        box-shadow: rgba(212, 70, 82, 0.48) 6px 2px 16px 0px, rgba(212, 70, 82, 0.48) -6px -2px 16px 0px;

    }

    &__name {
        font-size: 0.8rem;
        color: $color-green;
        margin-bottom: 0.75rem;
    }

    &__image{
        width: 10rem;
        height: 12rem;
        border-radius: 10px;
        margin: 0 auto;
    }

    &__price {
        font-size: 1rem;
        font-weight: bold;
        color: $color-green;
        text-align: center;
        margin-top: 0.5rem;
    }

    &__info{
        font-size: 0.8rem;
        text-align: center;
        margin: 0.15rem 0;
        color: $color-graphite;
    }

    &__title {
        color: $color-light-sea;
        font-weight: bold;
        font-size: 0.8rem;
    }

    @include tablet {
        &__name {
            font-size: 1rem;
        }

        &__title,  &__info{
            font-size: 1rem;
        }

        &__price {
            margin-top: 1rem;
            font-size: 1.25rem;
        }
    }
}