@import '../../styles/all';

.item-card {
    display: flex;
    flex-direction: column;
    margin:0 auto;
    padding: 1rem;
    
    width: 13rem;
    border-radius: 2rem;

    box-shadow: rgba(49, 167, 177, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

    &:hover{
        box-shadow: rgba(212, 70, 82, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

    }

    &__divided{
        display: flex;
        justify-content: space-between;
        padding-right: 1rem;
    }

    &__link{
        text-decoration: none;
    }

    &__name {
        font-size: 1.1rem;
        color: $color-green;
        margin-bottom: 0.75rem;
    }

    &__image{
        width: 10rem;
        height: 12rem;
        border-radius: 10px;
        margin: 0 auto;
    }

    &__price {
        font-size: 1.2rem;
        font-weight: bold;
        color: $color-green;
        text-align: center;
    }

    &__info{
        font-size: 1.1rem;
        text-align: center;
        margin: 0.15rem 0;
        color: $color-graphite;
    }

    &__title {
        color: $color-light-sea;
        font-weight: bold;
        font-size: 1.1rem;
    }
}