// Primary Colors
$color-instock-black: #13182c;
$color-instock-indigo: #2e66e5;
$color-white: #fff;

// Secondary Colors
$color-slate: #5c667e;
$color-cloud: #bdc5d5;

// Background Colors
$color-graphite: #232940;
$color-light-grey: #f7f8f9;

// Supporting Colors
$color-green: #7CC746;
$color-red: #D84851;
$color-grey: #EDEFEE;

$color-light-sea: #31A7B3;


