// Primary Colors
$color-white: #fff;
$color-green: #7CC746;
$color-red: #8B0000;
$color-light-sea: #31A7B3;

// Secondary Colors
$color-slate: #5c667e;
$color-cloud: #bdc5d5;
$color-black: #13182c;
$color-grey: #EDEFEE;
$color-graphite: #232940;

// Background Colors

$color-background-1: #00FAF2;
$color-background-2: #529C81;
$color-background-3: #6A9CF2;
