@import '../../styles/all';

.header {
    background-color: $color-grey;
    margin: 0;
    height: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    font-weight: 600;

    @include tablet {
        padding: 0 2rem;
        height: 15rem;
        font-size: 0.75rem;
        line-height: 1.125rem;

        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    @include desktop {
        width: 77.75rem;
        margin: 0 auto;
    }

    &__logo-img{
        width: 5rem;
        padding: 1rem 0;
    }

    &__titles{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        gap: 1rem;
    }

    &__page {
        color: $color-light-sea;
        font-size: 1.5rem;
        text-decoration: none;
        list-style-type:none;
        cursor: pointer;

        @include tablet {
            padding-top: 3rem;
        }
    }

    &__page:hover{
        color: $color-green;
    }

    &__page--active{
        color: $color-red;
    }




}