@import '../../styles/all';


.product-details {

    &__item-information{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 1rem;
    }

    &__image{
        width: 100%;
        height: auto;
        border-radius: 2.5rem;
    }

    &__info{
        margin: 1rem 0;
    }

    &__price{
        font-size: 1rem;
        font-weight: bold;
        color: $color-red;
    }

    &__title{
        font-size: 0.85rem;
        font-weight: bold;
        color: $color-white;
    }

    &__item, &__user-info{
        font-size: 0.85rem;
        margin: 0.5rem 0;
    }

    &__user-title{
        font-size: 0.85rem;
        font-weight: bold;
        color: $color-green;
    }

    &__table-title{
        margin: 1rem;
        font-size: 0.9rem;
        color: $color-red;
    }

    &__category-table {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 2rem 1rem;
    }

    &__sending-message{
        margin: 0 1rem;
    }


    @include tablet {

        &__price{
            font-size: 1.25rem;
        }

        &__title, &__item, &__user-info, &__user-title {
            font-size: 1.1rem;
        }

        &__item-information{
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2vw;
        }

        &__image{
            width: 40vw;
            height: auto;
        }

        &__info{
            margin: 0;
            width: 40vw;
        }

        &__table-title{
            font-size: 1.3rem;
        }

        &__category-table {
            flex-direction: row;
            flex-wrap: wrap;
            margin: 2rem 2rem;
        }

        &__table{
            border-radius: 3rem;
            border-top: 2px solid $color-red;
        }

        &__sending-message{
            margin: 0 2.5rem;
            display: flex;
            gap: 2rem;
            align-items: center;
        }

    }

    @include desktop {

        &__item-information{
            gap: 2rem;
        }

        &__image {
            max-width: 30rem;
            margin-left: 5vw;
        }

        &__info {
            width: 25rem;
            margin: auto 2rem;
        }

        &__sending-message{
            margin: 1rem auto;
            max-width: 45rem;
        }

    }
}