@import '../../styles/all';


.signup-form{
    &__wrapper{
        padding: 1rem 1.5rem;
    }

    &__title{
        padding: 1rem 0;
    }

    &__address-info {
        border-top: 2px solid red;
    }
}
