@import '../../styles/all';

.action {
  @include box(rem(40px));

  border-radius: rem(3px);

  &--active{
    @include box(rem(15px));
  }

  &__icon {
    aspect-ratio: 1;
    height: 100%;
  }

  &:hover {
    background-color: $color-grey;
    cursor: pointer;
  }
}
