@import './styles/all';

*{
  margin: 0;
  box-sizing: border-box;
}

.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__body {
    @include push-sides(rem(16px));
    @include instock-box-shadow;

    background-color: $color-white;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: rem(-64px);

    @include tablet {
      @include push-sides(rem(32px));

      margin-top: rem(-96px);
    }

    @include desktop {
      @include push-auto;

      width: $max-width;
    }
  }
}

