@import './styles/all';

*{
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $color-light-grey;
  font-family: $font-primary, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__body {
    @include push-sides(rem(16px));
    @include instock-box-shadow;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 1.5rem;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: rem(-64px);

    @include tablet {
      @include push-sides(rem(32px));

      margin-top: rem(-96px);
    }

    @include desktop {
      @include push-auto;

      width: $max-width;
    }
  }
}

